<h1>Hello</h1>
<% if @question == 'I am going to work' %>
    <p>Great!</p>
<% elsif @question.include? '?'  %>
    <p>'silly question, get dressed and go to work!'</p>
  <% else  %>
  <p> "I don't care, get dressed and go to work!" </p>
<% end %>

<%= link_to "Ask a new question", ask_path %>
