<h1>Stupid coaching</h1>

<p>Tell your coach whatever you want</p>
<form action="answer">
  <input type="text" name="question" placeholder="What kind of question?">
  <input type="submit" value="ask">
</form>
